---
layout: 2017_default
permalink: /register
title: Registro
---
    <script type="text/javascript">
        document.write ('<body style="background: lightgray; background-attachment: fixed;">')
    </script>

    <meta http-equiv="refresh" content="0; URL='https://docs.google.com/forms/d/e/1FAIpQLScFJMfOnz0P9XRiwfEgBeHwNbptIH8halYkAtgoiuwZe4YfMQ/viewform?usp=sf_link'" />

    <div class="page-not-found venue-top">
        <h1>{{ page.title }}</h1>
        <p>Redirigiendo a la pagina de registo.</p>
        <p>If you are not redirected automatically, please find it <a href="https://docs.google.com/forms/d/e/1FAIpQLScFJMfOnz0P9XRiwfEgBeHwNbptIH8halYkAtgoiuwZe4YfMQ/viewform?usp=sf_link">here</a></p>
    </div>