---
layout: 2017_default
permalink: /stream
title: Stream
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
        <h1>{{ page.title }}</h1>
        <style>
            .video {
            position:relative;
            padding-bottom: 56.25%;
            height:0;
            overflow:hidden;
            align: middle;
            }
            .video iframe, .video object, .video embed {
            position: absolute;
            margin: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            }
        </style>
        <h2>Stream 12 de Mayo</h2>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FP_CZi8RRUg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <h2>Stream 13 de Mayo</h2>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z_QYXDy4y1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        
    </div>
