---
layout: 2017_default
permalink: /venue
title: Venue
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

      <p>Fecha: 12 - 13 Mayo 2022<br>Ubicación: Av. Chacabuco 1363, Concepción,Región del Bío Bío, Chile</p>

    <div class="venue-map">
      <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJBf0qvSq0aZYRm64amzog6-U&key=AIzaSyCcilPPbSILLCaETjrURDh-MxHrCd0iD9k"></iframe>
    </div>

      <p>A 500 kilómetros de Santiago, capital de Chile, se encuentra el Campus Central de la Universidad de Concepción, que inicia sus actividades académicas en 1919. La disposición que en el Barrio ocupan las distintas Unidades Académicas, como Administrativas, y sus grandes áreas de parques, hace que éste sea conocido como el “Barrio Universitario”.</p>

<p>Hoy el campus es un maravilloso paseo para los habitantes de Concepción y sus alrededores. Con una extensión de 2.927.647 m2, de los cuales 171.613 m2 están construidos, se presenta al mundo como un centro de creación del conocimiento, de la cultura, de la ciencia, de la tecnología y la investigación.</p>


    </div>
