<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">CONTACTANOS</h2>
                    <h3 class="section-subheading text-muted">Haremos todo lo posible para responder a tu solicitud lo antes posible.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="https://formspree.io/f/mdobwjye" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Tu nombre *" id="name" required data-validation-required-message="¨Porfavor ingresa tu nombre."WW>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" name="_replyto" placeholder="Tu direccion de correo *" id="email" required data-validation-required-message="Porfavor ingresa tu direccion de correo.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" name="phone" placeholder="Tu teléfono" id="phone" required data-validation-required-message="Porfavor ingresa tu numero de teléfono (opcional).">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" name="message" placeholder="Tu mensaje *" id="message" required data-validation-required-message="Porfavor ingresa un mensaje."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" value="Send" class="btn btn-xl">Enviar mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
