<!-- Services Section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">REDES ÓPTICAS PARA EL INTERNET DEL FUTURO</h2>
            </div>
        </div>
        <div class="row container">
            <p>El intercambio de información nunca ha sido tan grande como hoy. Comunicación entre personas,
                persona-máquina y máquina-máquina prometen revolucionar nuestra sociedad e industria. En el
                centro de esta revolución de comunicaciones se encuentran las redes de fibra óptica. Capaces de
                transportar altas cantidades de información sobre grandes distancias, las redes ópticas tienen
                presencia en todos los sistemas interconectados hoy en día.
                El seminario “Redes ópticas para el Internet del futuro” sirve como un punto de
                encuentro entre la academia, la industria y el gobierno para el intercambio de información en el
                área de redes ópticas y telecomunicaciones. Se explorarán avances y soluciones tecnológicas en
                comunicaciones y redes ópticas, además de nuevos avances en infraestructura y dispositivos.
                <!--<a href="{{site.baseurl}}/2016">Link to 2016</a>-->
            </p>

            <style>
                .video {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    align: middle;
                }

                .video iframe,
                .video object,
                .video embed {
                    position: absolute;
                    margin: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                }
            </style>

            <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/FP_CZi8RRUg"
                    title="Primera Jornada" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div><br>
        </div>
    </div>
</section>