<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ORGANIZA</h2>
                </div>
            </div>
            <div class="row">
                {% for sponsor in site.data.twenty_17.organiza %}
                    <div class="col-md-4 col-sm-6">
                        <a href="{{sponsor.url}}" class="portfolio-link" data-toggle="modal">
                            <img src="{{site.baseurl}}/css/2017_style/img/logos/{{sponsor.logo}}" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </aside>
