<!-- Portfolio Grid Section -->
<section id="speakers" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PANELISTAS 13 DE MAYO</h2>
                <h2 class="section-subheading"><b>INTEGRACIÓN ENTRE ACADEMIA, INDUSTRIA Y GOBIERNO EN REDES ÓPTICAS</b></h2>
                <h3 class="section-subheading">En este panel se discutirá la integración de entre diferentes actores en redes ópticas a nivel nacional e internacional. Se analizarán casos exitosos de integración a nivel internacional y como se puede proyectar esto a nivel nacional.</h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.data.twenty_17.panelist-13 %}
            <div class="col-md-4 col-sm-6 speakers-item">
                <a href="#{{ post.name }}-panelist13" class="speakers-link" data-toggle="modal">
                    <div class="speakers-hover">
                        <div class="speakers-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.baseurl}}/css/2017_style/img/panelist/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </a>
                <div class="speakers-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <!--
        <p>Visit 2016's page.</p>
        <center><a href="{{site.baseurl}}/2016" class="page-scroll btn btn-xl">Visit Now</a></center>
        -->
    </div>
</section>
