<!-- Portfolio Grid Section -->
<section id="speakers" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PANELISTAS 12 DE MAYO</h2>
                <h2 class="section-subheading"><b>IMPORTANCIA DE INFRAESTRUCTURA ÓPTICA PARA EL ACCESO A INTERNET</b></h2>
                <h3 class="section-subheading">En este panel se discutirá la importancia del desarrollo e instalación de infraestructura óptica para la utilización de internet. Se analizará la situación país enfocado en las regiones y comentará en base a experiencias el desarrollo de proyectos futuros.</h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.data.twenty_17.panelist-12 %}
            <div class="col-md-4 col-sm-6 speakers-item">
                <a href="#{{ post.name }}-panelist12" class="speakers-link" data-toggle="modal">
                    <div class="speakers-hover">
                        <div class="speakers-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{site.baseurl}}/css/2017_style/img/panelist/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </a>
                <div class="speakers-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <!--
        <p>Visit 2016's page.</p>
        <center><a href="{{site.baseurl}}/2016" class="page-scroll btn btn-xl">Visit Now</a></center>
        -->
    </div>
</section>
