 <!-- Portfolio Modals -->
 {% for post in site.data.twenty_17.speakers-12 %}
    <div class="portfolio-modal modal fade" id="{{ post.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{site.baseurl}}/css/2017_style/img/speaker/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <h3>{{ post.topic }}</h3>
                            <p>{{ post.description }}</p>
                            <h3>Sobre {{ post.title }}</h3>
                            <p>{{ post.resumen }}</p>
                            <style>
                                .video {
                                position:relative;
                                padding-bottom: 56.25%;
                                height:0;
                                overflow:hidden;
                                align: middle;
                                }
                                .video iframe, .video object, .video embed {
                                position: absolute;
                                margin: auto;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                height: 100%;
                                }
                            </style>
                            {% if post.video == "" %}
                            <div class="video"><iframe width="560" height="315" src= {{post.video}}  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div><br>
                            {% endif %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% for post in site.data.twenty_17.speakers-13 %}
<div class="portfolio-modal modal fade" id="{{ post.name }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <img src="{{site.baseurl}}/css/2017_style/img/speaker/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        <h3>{{ post.topic }}</h3>
                        <p>{{ post.description }}</p>
                        <h3>Sobre {{ post.title }}</h3>
                        <p>{{ post.resumen }}</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for post in site.data.twenty_17.panelist-12%}
<div class="portfolio-modal modal fade" id="{{ post.name }}-panelist12" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <img src="{{site.baseurl}}/css/2017_style/img/panelist/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        <h3>Sobre {{ post.title }}</h3>
                        <p>{{ post.resumen }}</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for post in site.data.twenty_17.panelist-13%}
<div class="portfolio-modal modal fade" id="{{ post.name }}-panelist13" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <img src="{{site.baseurl}}/css/2017_style/img/panelist/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        <h3>Sobre {{ post.title }}</h3>
                        <p>{{ post.resumen }}</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}