<!DOCTYPE html>
<html>

{% include 2016_data/head.html %}


<body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Redes ópticas para el Internet del futuro<br></div>
                <div class="intro-lead-in">12 -13 de Mayo 2022</div>
                <div class="intro-lead-in">Universidad de Concepción</div>
                <!-- <center>
                    <a href="#intro" class="page-scroll btn btn-xl">DIME MÁS</a>
                    <a href="{{site.baseurl}}/register" class="page-scroll btn btn-xl">REGISTRATE</a>
                </center>-->
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers-12.html %}
    {% include 2017_data/panelist-12.html %}
    {% include 2017_data/speakers-13.html %}
    {% include 2017_data/panelist-13.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/organiza.html %}
    {% include 2017_data/participa.html %}
    {% include 2017_data/financia.html %}
    {% include 2017_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

</body>

</html>